<script src="https://giscus.app/client.js"
        data-repo="HorizonChaser/neo"
        data-repo-id="R_kgDOLDDwZQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOLDDwZc4CcVGj"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>